<h1>My Enneagram Personality Test Result</h1>

<p>I am Type Nine 9️⃣, which is known as <%= myTypeClient %>🕊️.</p>
<p>I am a mediator of the group and thrive when helping differing parties resolve conflict.</p>
<p>My motivation stems from a desire for peace of mind and fears of experiencing overwhelming strife.</p>
<p>I can handle difficult conversations and remain level-headed. I am commonly the person people go to when they need a resolution or a second opinion concerning a pressing issue 🤝.</p>
<p>My feelings do not drive them; I have keen instincts that help my teammates gather wisdom to share. I am not confrontational but can navigate conflict to ensure both sides feel understood.</p>

<footer> sent from a file on my node server
    <a href="/send">send</a>

    <p> Here is my November lab repository:
        <a href="https://github.com/man2055/November-lab/tree/iss12">NOV_LAB</a></p>
    <p> Here is Rendor web server:
        <a href="https://icecold-polar-render.onrender.com/">RENDOR</a></p>
</footer>